
body {
      background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/img_0194.jpg");
      background-color: snow;
      background-size: "cover";
      background-repeat: no-repeat;
      background-size: 110%;
      height: 110%;
      color: dimgrey;
      font-family: georgia, serif;



}


 #Main-Title {
   color: peachpuff;
   background-size: 50px;
   border-top: 30px;
   border-radius: 90px;
   opacity: 0.2;
   border-style: solid;
   text-align: center;
   margin-right: 700px;
   margin-left: 30px;
   margin-top: 40px;
   padding-left: 20px;
   padding-right: 20px;

 }


 .Menu {
   color: peachpuff;
   text-align: center;
   border-style: solid;
   border-radius: 50px;
   border-width: 4px;
   margin-left: 30px;
   margin-right: -10px;
}
 a {
   color: peachpuff;
 }
#section1 {
  padding-right: 100px;
  padding-left: 250px;
       }

#section2 {
  padding-right: 100px;
  href:"#";
      }
#section3 {
  padding-right: 100px;
  href:"#";
      }
#section4 {
  padding-left: : 100px;
  href:"#"

}



 .Leftnav {
   color: peachpuff;
   text-align: center;
   border-style: solid;
   border-radius: 50px;
   border-width: 4px;
   border-collapse: separate;
   border-spacing: 0 25px;
   padding-top: 150px;
   padding-right:40px;
   padding-bottom:150px;
   padding-left:40px;
   margin-left: 30px;
   margin-right:100px;
   margin-top:20px;
   margin-bottom: -885px;


 }




 .Milkyway {
   color: peachpuff;
   text-align: center;
   border-style: solid;
   border-width: 4px;
   border-radius: 50px;
   padding-top: 10px;
   padding-right:10px;
   padding-bottom:10px;
   padding-left:10px;
   margin-left: 250px;
   margin-right:-10px;
   margin-top:-860px;
 }

 #MilkyWayImage {
   margin-top:15px;
   margin-right: 20px;
   margin-bottom: 15px;
   margin-left: 20px;
   border-style: solid;




 }

 #MilkyWayText {
   margin-left: 20px;
   margin-right: 30px;
 }

 .Moon {
   color: peachpuff;
   text-align: center;
   border-style: solid;
   border-radius: 50px;
   border-width: 4px;
   padding-top: 10px;
   padding-right:10px;
   padding-bottom:10px;
   padding-left:10px;
   margin-left: 250px;
   margin-right: -10px;
   margin-top: 50px;
  }

  #MoonImage {
    margin-right: 20px;
    margin-left: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    border-style: solid;
  }

  #MoonText {
    margin-left: 20px;
    margin-right: 30px;
  }

  .Hubble {

    color: peachpuff;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-width: 4px;
    padding-top: 10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-left: 250px;
    margin-right:-10px;
    margin-top: 50px;

  }

  #HubbleImage {
    margin-left: 20px;
    margin-right: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    border-style: solid;
}
  #HubbleText {
    margin-left: 20px;
    margin-right: 30px;
  }


 .Footer {
   color: peachpuff;
   text-align: center;
   border-style: solid;
   border-radius: 40px;
   border-width: 4px;
   padding-top: 10px;
   padding-right:10px;
   padding-bottom:10px;
   padding-left:10px;
   margin-left: 30px;
   margin-right:-30px;
   margin-top: 20px;
   margin-bottom: 30px;
 }
